@use 'variaveis';

.hero {
    padding:  5.6vw;
    min-height: 80vh;
    background-image: url(../images/Vingadores-Ultimato.jpg);
    text-align: center;
    background-size: cover;

    @media (max-width: 768px) {
        background-image: url(../images/images/hero_celular.jpeg);
        padding-top: calc(50vw + 25px);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -55px;
    }
    
    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {
    max-width: 640px;

        &__branding {
        max-width: 320px;
        margin: 0 auto 38px;

        @media (max-width: 768px) {
            max-width: 180px;
            }
        }
    }

    &__content__branding img {
        width: 300px;
    }

    &__content__age img,
    &__content__audiodescription img,
    &__content__closeCaption img {
        height: 30px;
        margin: 5px;
    }

    &__icons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -15px;
        color: variaveis.$corTextoSecundario;
        font-weight: 600;
    }

    .description-1 {
        color: variaveis.$corTextoSecundario;
        font-size: 12px;
        font-weight: normal;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            display: block;
        }

        &__play {
            width: calc(50% - 12px);

            @media (max-width: 768px) {
                width: 100%;
                margin-bottom: 24px;
            }
        }

        &__trailer {
            width: calc(50% - 12px);

            @media (max-width: 768px) {
                width: 100%;
                margin-bottom: 24px;
            }
        }
    }

    &__content__buttons__trailer .button {
        background-color: (0, 0, 0, 0.6);
        border: 1px solid variaveis.$corTextoSecundario;
        color: variaveis.$corTextoSecundario;
    }

    .description__movie {
        color: variaveis.$corTextoSecundario;
        font-size: 20px;
        font-weight: normal;
        text-align: justify;
        margin-top: 50px;
        letter-spacing: -.1px;
        line-height: 1.6;
    }
}
