$cordeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corTextoTerciario: #9772FB;
$cordeFundoBotaoPrimario: #F32424;
$cordeFundoBotaoSecundario: #CD0404;
$cordeFundoBotaoDark: #000;